@media (width >= 730px) {
  :root {
    --caption-regular-font-weight: var(--fontweight-regular);
    --caption-bold-font-weight: var(--fontweight-bold);
    --typeface: var(--idsk-font-sans);

    /* Headline XL */
    --headline-xl-font-size: var(--fontsize-48);
    --headline-xl-font-weight: var(--fontweight-black);
    --headline-xl-line-height: var(--lineheight-55);
    --headline-xl-letter-spacing: var(--letterspacing-00);

    /* Headline L */
    --headline-l-font-size: var(--fontsize-36);
    --headline-l-font-weight: var(--fontweight-black);
    --headline-l-line-height: var(--lineheight-45);
    --headline-l-letter-spacing: var(--letterspacing-00);

    /* Headline M */
    --headline-m-font-size: var(--fontsize-24);
    --headline-m-font-weight: var(--fontweight-bold);
    --headline-m-line-height: var(--lineheight-35);
    --headline-m-letter-spacing: var(--letterspacing-00);

    /* Headline S */
    --headline-s-font-size: var(--fontsize-20);
    --headline-s-font-weight: var(--fontweight-bold);
    --headline-s-line-height: var(--lineheight-26);
    --headline-s-letter-spacing: var(--letterspacing-015);

    /* Perex */
    --perex-perex-font-size: var(--fontsize-24);
    --perex-perex-regular-font-weight: var(--fontweight-regular);
    --perex-perex-bold-font-weight: var(--fontweight-bold);
    --perex-perex-line-height: var(--lineheight-36);
    --perex-perex-letter-spacing: var(--letterspacing-050);
    --perex-perex-paragraph-spacing: var(--paragraphspacing-24);

    /* Main body */
    --maintext-body-font-size: var(--fontsize-19);
    --maintext-body-regular-font-weight: var(--fontweight-regular);
    --maintext-body-bold-font-weight: var(--fontweight-bold);
    --maintext-body-line-height: var(--lineheight-28);
    --maintext-body-letter-spacing: var(--letterspacing-050);
    --maintext-body-paragraph-spacing: var(--paragraphspacing-17);
    --maintext-body-regular-font-weight2: var(--fontweight-regular);

    /* Main body 1 */
    --maintext-body1-body1-font-size: var(--fontsize-16);
    --maintext-body1-body1-regular-font-weight: var(--fontweight-regular);
    --maintext-body1-body1-bold-font-weight: var(--fontweight-bold);
    --maintext-body1-body1-line-height: var(--lineheight-24);
    --maintext-body1-body1-letter-spacing: var(--letterspacing-050);
    --maintext-body1-body1-paragraph-spacing: var(--paragraphspacing-16);

    /* Caption */
    --caption-font-size: var(--fontsize-12);
    --caption-line-height: var(--lineheight-16);
    --caption-letter-spacing: var(--letterspacing-040);

    /* Button */
    --button-font-size: var(--fontsize-16);
    --button-font-weight: var(--fontweight-bold);
    --button-line-height: var(--lineheight-24);
    --button-letter-spacing: var(--letterspacing-050);

    /* Menu item */
    --menuitem-font-size: var(--fontsize-16);
    --menuitem-regular-font-weight: var(--fontweight-regular);
    --menuitem-bold-font-weight: var(--fontweight-bold);
    --menuitem-line-height: var(--lineheight-24);
    --menuitem-letter-spacing: var(--letterspacing-050);

    /* Link perex */
    --link-perex-font-size: var(--fontsize-24);
    --link-perex-regular-font-weight: var(--fontweight-regular);
    --link-perex-bold-font-weight: var(--fontweight-bold);
    --link-perex-line-height: var(--lineheight-36);
    --link-perex-letter-spacing: var(--letterspacing-050);

    /* Link body */
    --link-body-font-size: var(--fontsize-19);
    --link-body-regular-font-weight: var(--fontweight-regular);
    --link-body-bold-font-weight: var(--fontweight-bold);
    --link-body-line-height: var(--lineheight-28);
    --link-body-letter-spacing: var(--letterspacing-050);

    /* Link body 1 */
    --link-body-1-font-size: var(--fontsize-16);
    --link-body-1-regular-font-weight: var(--fontweight-regular);
    --link-body-1-bold-font-weight: var(--fontweight-bold);
    --link-body-1-line-height: var(--lineheight-24);
    --link-body-1-letter-spacing: var(--letterspacing-050);

    /* Link caption */
    --link-caption-font-size: var(--fontsize-12);
    --link-caption-regular-font-weight: var(--fontweight-regular);
    --link-caption-bold-font-weight: var(--fontweight-bold);
    --link-caption-line-height: var(--lineheight-16);
    --link-caption-letter-spacing: var(--letterspacing-040);

    /* Hint */
    --hint-font-size: var(--fontsize-19);
    --hint-regular-font-weight: var(--fontweight-regular);
    --hint-bold-font-weight: var(--fontweight-bold);
    --hint-line-height: var(--lineheight-28);
    --hint-letter-spacing: var(--letterspacing-050);
    --hint-paragraph-spacing: var(--paragraphspacing-17);

    /* Section layout */
    --section-gaps-default: var(--spacing-space-0);
    --section-padding-horizontal-minimal: var(--spacing-space-6);
    --section-padding-vertical-large: var(--spacing-space-9);
    --section-padding-vertical-default: var(--spacing-space-7);
    --section-padding-vertical-subtle: var(--spacing-space-4);

    /* Content layout */
    --content-width-maximum: 1120;
    --content-width-minimum: 731;
    --content-gaps-extralarge: var(--spacing-space-9);
    --content-gaps-large: var(--spacing-space-7);
    --content-gaps-default: var(--spacing-space-4);
    --content-gaps-subtle: var(--spacing-space-2);
    --content-gaps-nogap: var(--spacing-space-0);

    /* Corner radius */
    --corner-radius-rounding-m: var(--spacing-space-2);
    --corner-radius-rounding-s: var(--spacing-space-1);

    /* Stroke thickness */
    --stroke-thickness-default: var(--stroke-thickness-2);
    --stroke-thickness-subtle: var(--stroke-thickness-1);
    --stroke-thickness-focus-ring: var(--stroke-thickness-3);
    --stroke-thickness-hover-ring: var(--stroke-thickness-4);

    /* Text max widths */
    --text-maxwidth-headline-xl: var(--text-max-line-width-font-size-48);
    --text-maxwidth-headline-l: var(--text-max-line-width-font-size-36);
    --text-maxwidth-headline-m: var(--text-max-line-width-font-size-24);
    --text-maxwidth-headline-s: var(--text-max-line-width-font-size-20);
    --text-maxwidth-bodytext-perex: var(--text-max-line-width-font-size-24);
    --text-maxwidth-bodytext-body: var(--text-max-line-width-font-size-19);
    --text-maxwidth-bodytext-caption: var(--text-max-line-width-font-size-12);
    --text-maxwidth-link-l: var(--text-max-line-width-font-size-24);
    --text-maxwidth-link-m: var(--text-max-line-width-font-size-19);
    --text-maxwidth-link-s: var(--text-max-line-width-font-size-16);
    --text-maxwidth-link-caption: var(--text-max-line-width-font-size-12);
    --text-maxwidth-items-menu: var(--text-max-line-width-font-size-16);
    --text-maxwidth-items-button: var(--text-max-line-width-font-size-16);
    --text-maxwidth-items-hint: var(--text-max-line-width-font-size-19);
  }
}
