@theme inline {
  --font-sans: var(--idsk-font-sans);

  /* Color Palette */
  --color-base-black: var(--base-black);
  --color-base-white: var(--base-white);
  --color-alpha-black-10: var(--alpha-black-10);
  --color-alpha-black-40: var(--alpha-black-40);
  --color-alpha-black-70: var(--alpha-black-70);
  --color-alpha-white-10: var(--alpha-white-10);
  --color-alpha-white-40: var(--alpha-white-40);
  --color-alpha-white-70: var(--alpha-white-70);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-neutral-090: var(--neutral-090);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-accent-teal-100: var(--accent-teal-100);
  --color-accent-teal-200: var(--accent-teal-200);
  --color-accent-teal-300: var(--accent-teal-300);
  --color-accent-teal-400: var(--accent-teal-400);
  --color-accent-teal-500: var(--accent-teal-500);
  --color-accent-teal-600: var(--accent-teal-600);
  --color-accent-violet-100: var(--accent-violet-100);
  --color-accent-violet-200: var(--accent-violet-200);
  --color-accent-violet-300: var(--accent-violet-300);
  --color-accent-violet-400: var(--accent-violet-400);
  --color-accent-violet-500: var(--accent-violet-500);
  --color-accent-violet-600: var(--accent-violet-600);
  --color-accent-olive-100: var(--accent-olive-100);
  --color-accent-olive-200: var(--accent-olive-200);
  --color-accent-olive-300: var(--accent-olive-300);
  --color-accent-olive-400: var(--accent-olive-400);
  --color-accent-olive-500: var(--accent-olive-500);
  --color-accent-olive-600: var(--accent-olive-600);
  --color-accent-magenta-100: var(--accent-magenta-100);
  --color-accent-magenta-200: var(--accent-magenta-200);
  --color-accent-magenta-300: var(--accent-magenta-300);
  --color-accent-magenta-400: var(--accent-magenta-400);
  --color-accent-magenta-500: var(--accent-magenta-500);
  --color-accent-magenta-600: var(--accent-magenta-600);
  --color-status-info-base: var(--status-info-base);
  --color-status-info-strong: var(--status-info-strong);
  --color-status-info-soft: var(--status-info-soft);
  --color-status-info-background: var(--status-info-background);
  --color-status-success-base: var(--status-success-base);
  --color-status-success-strong: var(--status-success-strong);
  --color-status-success-soft: var(--status-success-soft);
  --color-status-success-background: var(--status-success-background);
  --color-status-warning-base: var(--status-warning-base);
  --color-status-warning-strong: var(--status-warning-strong);
  --color-status-warning-soft: var(--status-warning-soft);
  --color-status-warning-background: var(--status-warning-background);
  --color-status-error-base: var(--status-error-base);
  --color-status-error-strong: var(--status-error-strong);
  --color-status-error-soft: var(--status-error-soft);
  --color-status-error-background: var(--status-error-background);
  --color-system-canvas: var(--system-canvas);
  --color-slovakcolors-blue: var(--slovakcolors-blue);
  --color-slovakcolors-red: var(--slovakcolors-red);
  --color-slovakcolors-white: var(--slovakcolors-white);
  --color-focus-default: var(--focus-default);
  --color-hover-default: var(--hover-default);

  /* Semantic Colors */
  --color-surface-canvas: var(--surface-canvas);
  --color-surface-default: var(--surface-default);
  --color-surface-subtle: var(--surface-subtle);
  --color-surface-inverse: var(--surface-inverse);
  --color-surface-overlay: var(--surface-overlay);
  --color-surface-accent: var(--surface-accent);
  --color-surface-info: var(--surface-info);
  --color-surface-warning: var(--surface-warning);
  --color-surface-error: var(--surface-error);
  --color-surface-success: var(--surface-success);
  --color-border-default: var(--border-default);
  --color-border-subtle: var(--border-subtle);
  --color-border-disabled: var(--border-disabled);
  --color-border-strong: var(--border-strong);
  --color-border-error: var(--border-error);
  --color-border-warning: var(--border-warning);
  --color-border-success: var(--border-success);
  --color-border-info: var(--border-info);
  --color-border-accent: var(--border-accent);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-disabled: var(--text-disabled);
  --color-text-inverse: var(--text-inverse);
  --color-text-accent: var(--text-accent);
  --color-text-success: var(--text-success);
  --color-text-error: var(--text-error);
  --color-text-link-default: var(--text-link-default);
  --color-text-link-hover: var(--text-link-hover);
  --color-text-link-visited: var(--text-link-visited);
  --color-text-link-inverted: var(--text-link-inverted);
  --color-text-link-inverted-hover: var(--text-link-inverted-hover);
  --color-text-link-inverted-visited: var(--text-link-inverted-visited);
  --color-text-link-black: var(--text-link-black);
  --color-icon-default: var(--icon-default);
  --color-icon-subtle: var(--icon-subtle);
  --color-icon-disabled: var(--icon-disabled);
  --color-icon-inverse: var(--icon-inverse);
  --color-icon-link: var(--icon-link);
  --color-icon-info: var(--icon-info);
  --color-icon-success: var(--icon-success);
  --color-icon-warning: var(--icon-warning);
  --color-icon-error: var(--icon-error);
}
