@theme inline {
  --text-headline-xl: var(--headline-xl-font-size);
  --text-headline-xl--font-weight: var(--headline-xl-font-weight);
  --text-headline-xl--line-height: var(--headline-xl-line-height);
  --text-headline-xl--letter-spacing: var(--headline-xl-letter-spacing);
  --text-headline-l: var(--headline-l-font-size);
  --text-headline-l--font-weight: var(--headline-l-font-weight);
  --text-headline-l--line-height: var(--headline-l-line-height);
  --text-headline-l--letter-spacing: var(--headline-l-letter-spacing);
  --text-headline-m: var(--headline-m-font-size);
  --text-headline-m--font-weight: var(--headline-m-font-weight);
  --text-headline-m--line-height: var(--headline-m-line-height);
  --text-headline-m--letter-spacing: var(--headline-m-letter-spacing);
  --text-headline-s: var(--headline-s-font-size);
  --text-headline-s--font-weight: var(--headline-s-font-weight);
  --text-headline-s--line-height: var(--headline-s-line-height);
  --text-headline-s--letter-spacing: var(--headline-s-letter-spacing);
  --text-perex: var(--perex-perex-font-size);
  --text-perex--font-weight: var(--perex-perex-regular-font-weight);
  --text-perex--line-height: var(--perex-perex-line-height);
  --text-perex--letter-spacing: var(--perex-perex-letter-spacing);
  --text-main-body: var(--maintext-body-font-size);
  --text-main-body--font-weight: var(--maintext-body-regular-font-weight);
  --text-main-body--line-height: var(--maintext-body-line-height);
  --text-main-body--letter-spacing: var(--maintext-body-letter-spacing);
  --text-main-body-1: var(--maintext-body1-body1-font-size);
  --text-main-body-1--font-weight: var(--maintext-body1-body1-regular-font-weight);
  --text-main-body-1--line-height: var(--maintext-body1-body1-line-height);
  --text-main-body-1--letter-spacing: var(--maintext-body1-body1-letter-spacing);
  --text-caption: var(--caption-font-size);
  --text-caption--font-weight: var(--caption-regular-font-weight);
  --text-caption--line-height: var(--caption-line-height);
  --text-caption--letter-spacing: var(--caption-letter-spacing);
  --text-button: var(--button-font-size);
  --text-button--font-weight: var(--button-font-weight);
  --text-button--line-height: var(--button-line-height);
  --text-button--letter-spacing: var(--button-letter-spacing);
  --text-hint: var(--hint-font-size);
  --text-hint--font-weight: var(--hint-regular-font-weight);
  --text-hint--line-height: var(--hint-line-height);
  --text-hint--letter-spacing: var(--hint-letter-spacing);
}
